.header_l {
    padding:0px 60px;
    width:92%;
    height: 100px;
    background-color:black;
    display: inline-flex;
    align-items: center;
}
.header {
    background-image: url(bg.jpg);
    height: 100vh;
}
body {
    margin:0;
}
.logo {
    color:antiquewhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
    margin-right:15%;
}
.main {
    font-family: Arial;
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
    width: 1000px;
    height: 84%;
    margin:0px 250px;

}
.nav {
    font-family: Arial;
    font-weight:400;
}
.img-cont {
    margin-top: 50px;
}
.italic {
    font-style:italic;
    font-weight:lighter;
}
a {
    color:aliceblue;
    text-decoration:none;
    margin:2px 5px;   
}
a:hover {
    color:rgb(255, 193, 78);
    text-decoration:underline;
}